packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/crash.log
.terraform.tfstate.lock.info
*.retry
Infra-4b1fd2ba1600.json
gh-md-toc
jdauphant.nginx

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache

env
