project = "PROJECT"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
region = "europe-west1"
zone = "europe-west1-d"
app_disk_image = "reddit-app-base"
db_disk_image = "reddit-db-base"
